
-- Eihort will use the system language by default
-- See the lang folder for a list of available languages
-- Override the language here if desired (remove the -- at the start of the next line)
--language = "en";

-- Predefined paths: minecraft_path and eihort_path
-- Both of these can be overridden here if necessary

-- Paths to search for assets in (earlier paths have priority)
asset_search_paths = {
	-- Fill this line in to use a texture pack
	minecraft_path .. "resourcepacks/???.zip";

	-- Add extra paths to search for textures, etc.. here
    -- NOTE: If your path has backslashes, you will have to double them,
    --       as in "C:\\TheBestMod\\tbm.jar"

	-- Search for assets in archives in the Eihort folder
	listFiles( eihort_path .. "*.zip" );
	listFiles( eihort_path .. "*.jar" );

	-- If you have the minecraft jar file in a non-standard location,
	-- uncomment the following line (remove the --) and fill it in:
	--"path/to/minecraft.jar";

	-- Lastly, search for assets in the main Minecraft jar
	autodetectMCJar( minecraft_path ) or (minecraft_path .. "minecraft.jar");
};

-- Paths to search for worlds in
world_paths = {
    -- Format: { "PATH", R, G, B }; or { "PATH", "#HEX-COLOUR" };
    -- RGB/HEX is the colour of the background of the button to select
    -- worlds in that folder
    { minecraft_path .. "saves/", 0.15, 0.4, 0.8 };
    { "./", 0.15, 0.6, 0.3 };
    
    -- Add other paths to folders containing worlds here
    -- NOTE: If your path has backslashes, you will have to double them,
    --       as in "C:\\MyWorlds"
}

-- Path and name of screenshot files (.png will be appended by Eihort)
-- The possible variables are those accepted by the strftime function
-- See www.cplusplus.com/strftime for the list
-- You may also use %O for the wOrld name.
screenshot_path = output_path .. "screenshots/%O-%Y.%m.%d-%H.%M.%S";

-- World selection menu control
show_last_played_version = true;

-- Screen options
fullscreen = false;
screenwidth = 1280;
screenheight = 720;
multisample = 4;
anisotropy = 4;
fov = 77;

-- Info display
show_region_file = false;
show_global_chunk = false;
show_region_chunk = false; -- show_global_chunk must be set to "true" to display the region file chunk
show_view_angles = false;
show_triangles = false;
show_vram_use = false;

-- Key bindings
-- Valid keys are those listed under SDL_Keycode Value at
-- http://wiki.libsdl.org/moin.cgi/SDL_Keycode, without the "SDLK_"
keys = {
  -- Movement keys
  a = 'moveleft';
  s = 'moveback';
  w = 'moveforward';
  d = 'moveright';
  space = 'moveup';
  x = 'movedown';

  -- Time and Movement control keys
  ['['] = 'viewdist-';
  [']'] = 'viewdist+';
  pagedown = 'viewdist-';
  pageup = 'viewdist+';
  t = 'time+';
  y = 'time-';

  -- Various keys
  r = 'reloadworld';
  l = 'changelightmode';
  n = 'changemoonphase';
  o = 'resetposition';
  p = 'playerposition';
  i = 'spawnposition';
  f1 = 'toggleui';
  f2 = 'screenshot';
  f3 = 'screeninfo';
  escape = 'freemouse';
  m = 'togglemonitor';

  -- Spline keys
  q = 'splineadd';
  ['0'] = 'splineerase';
  ['1'] = 'splinestart';
  ['2'] = 'splinet+';
  ['3'] = 'splineend';
  ['4'] = 'splinet-';
  e = 'splinepop';

  -- Toggle keys
  lshift = 'speedup';
  rshift = 'speedup';
  lctrl = 'slowdown';
  rctrl = 'slowdown';
  lalt = 'togglebuttonuse';
  
  -- Developer buttons
  f4 = 'restarteihort' -- is paired with lctrl/rctrl, deveoper_tools has to be TRUE to use it
};

-- Mouse sensitivity (in radians per pixel)
mouse_sensitivity_scale = 100.0; -- Percentage of the mouse sensitivity on the X and Y axis
mouse_sensitivity_x = 0.008;
mouse_sensitivity_y = 0.01; -- Set it negative to invert the Y axis

-- Movement speeds (in blocks per second)
movement_speed = 50;
view_distance_speed = 50;
time_speed = 3; -- In hours per second
spline_speed = 0.4; -- In control points per second

-- Speed changes with shift/control
speedup_modifier = 8;
slowdown_modifier = 1/8;

-- Position when O is pressed
origin_x = 0;
origin_y = 100;
origin_z = -20;
origin_pitch = -0.7; -- In radians, pi/2 is up, -pi/2 is down
origin_azimuth = 0; -- In radians, 0 is east, pi/2 is north, -pi/2 is south, pi and -pi is west

-- Initial world settings
use_world_time = true;
start_time = 0; -- -1 and 1 are midnight, 0 is noon
start_view_distance = 500;

-- FPS Limiter
fps_limit = 60;

-- Comfort settings
	-- Screenshots
	takeScreenshotAsIs = false;
	
	-- ToggledButton
	confirmToggledButtonUse = true;
	confirmToggledButtonUseForMovedPlayer = true;
	confirmToggledButtonUseForMovedSpawn = true;

	-- Tooltip
	showShortcutButtonTooltip = true;
	showShortcutButtonTooltipForEOMenu = true;
	showShortcutButtonTooltipForDevButtons = true;


------------------------------------------------------------------------------
-- Advanced settings:

-- World quadtree leaf size (actual size is 2^qtree_leaf_size)
-- Range is 2 - 12. < 5 is tiny, 7 is good, > 9 is HUGE.
-- Smaller loads faster, but renders slower
qtree_leaf_size = 7;

-- Maximum amount of space that Eihort will use to store world data (meshes, 
-- textures, etc..) on the GPU (in MB)
-- Set it to 0 to autodetect (may not work on non-nVidia or AMD cards)
max_gpu_mem = 0;

-- If set to true, Eihort will continually redraw frames, even if nothing
-- changes. Useful when capturing video from Eihort.
disable_cpu_saver = false;

-- Number of worker threads to use to load the world.
-- Set to 0 to autodetect
worker_threads = 0;

-- Set to true to ignore OpenGL errors
ignore_gl_errors = false;

-- Set to false to cause Eihort to complain about missing textures
silent_fail_texture_load = true;

------------------------------------------------------------------------------
-- Developer tools:
-- Tools for eihort's development (deveoper_tools has to be TRUE to use any of the tools listed below)
deveoper_tools = false;
deveoper_tools_path = output_path .. "developer tools/"

-- Print all loaded "assets" folders to a file
print_loaded_assets = false;

-- Print all found MC versions to a file
print_found_versions = false;

-- Print cache hits to a file
print_cache_hits = false;
print_cache_hits_detail = false;

-- Show developer buttons (restart eihort, ...)
show_developer_buttons = false;

-- Enable developer buttons (restart eihort, ...)
enable_developer_keys = false;
